body{
  margin:0;
  background:#0d0d12;
  color:white;
  font-family:sans-serif;
}

.container{
  width:90%;
  max-width:760px;
  margin:auto;
  padding:50px 0;
}

h1{
  text-align:center;
  font-size:48px;
}

.subtitle{
  text-align:center;
  color:#aaa;
  margin-bottom:35px;
}

.card{
  background:#171721;
  padding:30px;
  border-radius:24px;
  border:3px solid transparent;
  margin-bottom:25px;
}

button{
  width:100%;
  padding:16px;
  margin-top:14px;
  border:none;
  border-radius:14px;
  background:#7c3cff;
  color:white;
  font-size:16px;
}

#question{
  font-size:26px;
  line-height:1.5;
}

#count{
  color:#999;
  text-align:right;
}

.hidden{
  display:none;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:16px;
}

.type-card{
  background:#171721;
  padding:30px;
  border-radius:20px;
  text-align:center;
  font-size:28px;
  border:2px solid #333;
}

.type-card:hover{
  border-color:#7c3cff;
}

#result,
#detail{
  text-align:center;
}

#resultCode,
#detailCode{
  font-size:44px;
  color:#7c3cff;
}

#resultText,
#detailText{
  line-height:1.9;
  color:#ddd;
}

h3{
  margin-top:28px;
}
.gauge{
  margin:20px 0;
}

.bar{
  width:100%;
  height:20px;
  background:#222;
  border-radius:20px;
  overflow:hidden;
}

.fill{
  height:100%;
  width:0%;
  background:linear-gradient(90deg,#7c3cff,#d66bff);
  transition:0.5s;
}
