body{
  margin:0;
  background:#0d0d12;
  color:white;
  font-family:sans-serif;
}

.container{
  width:90%;
  max-width:700px;
  margin:auto;
  padding:50px 0;
}

h1{
  text-align:center;
  font-size:48px;
}

.subtitle{
  text-align:center;
  color:#aaa;
  margin-bottom:40px;
}

.card{
  background:#171721;
  padding:30px;
  border-radius:20px;
}

#question{
  font-size:26px;
}

button{
  width:100%;
  padding:15px;
  margin-top:15px;
  border:none;
  border-radius:12px;
  background:#7c3cff;
  color:white;
  font-size:16px;
}

#count{
  color:#999;
  text-align:right;
}

.hidden{
  display:none;
}

#result{
  text-align:center;
}

#resultCode{
  color:#7c3cff;
  font-size:42px;
}
